######################
# Node
######################
/node/**
/node_modules/**

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/build/**
/deploy/**
/e2e/reports
/unit.test

######################
# Logs
######################
*.log

######################
# Others
######################
*.*~
*~
.merge_file*
